{% extends 'base.html.twig' %}

{% block title %}OrderItem index{% endblock %}

{% block body %}
    <h1>OrderItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BookTitle</th>
                <th>BookPrice</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.id }}</td>
                <td>{{ order_item.bookTitle }}</td>
                <td>{{ order_item.bookPrice }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>{{ order_item.total }}</td>
                <td>
                    <a href="{{ path('app_order_item_show', {'id': order_item.id}) }}">show</a>
                    <a href="{{ path('app_order_item_edit', {'id': order_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_item_new') }}">Create new</a>
{% endblock %}
